.filter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 480px;
  padding: 20px;
}

.filterLabel {
  font-size: 20px;
}

.filterInput {
  width: 480px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
}

.filterInput:hover,
.filterInput:focus {
  border: 1px solid blue;
}
