.contact-form {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  width: 480px;
  border: 1px solid black;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.formLabel {
  font-size: 20px;
  margin-bottom: 6px;
}

label {
  font-size: 16px;
}

input {
  width: 460px;
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid black;
}

input:hover,
input:focus {
  border: 1px solid blue;
}

button {
  margin: 0 auto;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 700;
  background-color: lightgreen;
  border: 1px solid darkgray;
  border-radius: 5px;
  cursor: pointer;
}

button:focus,
button:hover {
  background-color: green;
  color: white;
}

button:active {
  background-color: #007fff;
}
